<%- include("header.ejs"); %>

<!-- about us profile pictures-->
<div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
        <span  id="fptitle" class="w3-bottombar w3-border-dark-grey w3-padding-16">Who we are</span>
    </div>

    <div class="w3-half w3-margin-bottom w3-center">
        <div class="w3-card-4">
        <img id="images" src="/static/pp1.jpg" alt="Elodie">
        <div class="w3-container table">
            <h3 id="fpparagraph">Elodie Bouisset</h3>
            <p id="aboutustxt" class="w3-opacity">CEO & Founder</p>
            <p id="aboutustxt">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><a href="mailto:elodie.bouisset@efrei.net"><button class="w3-button w3-light-grey w3-block">Contact</button></a></p>
        </div>
        </div>
    </div>

    <div class="w3-half w3-margin-bottom w3-center">
        <div class="w3-card-4">
        <img id="images" src="/static/pp2.jpg" alt="Samuel">
        <div class="w3-container table">
            <h3 id="fpparagraph">Samuel Delassus</h3>
            <p id="aboutustxt" class="w3-opacity">CEO & Founder</p>
            <p id="aboutustxt">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><a href="mailto:samuel.delassus@efrei.net"><button class="w3-button w3-light-grey w3-block">Contact</button></a></p>
        </div>
        </div>
    </div>
</div>
<div class="w3-center w3-padding-64">
    <span  id="fptitle" class="w3-bottombar w3-border-dark-grey w3-padding-16">Website information</span>
</div>
<div id="paragraph" class="w3-padding-32">
    <span id="informationpg" class="w3-border-dark-grey w3-padding-16">Looking for the house of your dream? You are in the right place. EcoHabitation gathers the best housing options in the world. Either you are interested in a regular house, a loft or even a villa, EcoHabitation has what you need! You can search the house of your dream directly from home thanks to this website!</span>
</div>
<br><br><br><br><br><br>
<%- include("footer.ejs"); %>

</body>
</html>