<%- include("header.ejs"); %>

<!-- Slideshow -->
<div class="w3-container">
    <div class="w3-display-container mySlides">
    <img src="/static/house1.jpg" style="width:100%">
    <div class="w3-display-topleft w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">New house</span>
    </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="/static/villa1.jpg" style="width:100%">
    <div class="w3-display-topright w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">New villa</span>
    </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="/static/loft1.jpg" style="width:100%">
    <div class="w3-display-topleft w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">New loft</span>
    </div>
    </div>

    <!-- Slideshow next/previous buttons -->
    <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
    <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left fa-2x w3-hover-text-teal"></i></div>
    <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right fa-2x w3-hover-text-teal"></i></div>
    
    <div class="w3-center">
        <span class="w3-button demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-button demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-button demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </div>
    </div>
</div>

<!-- slideshow script -->
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demodots");
        if (n > x.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " w3-white";
    }
</script>
<br><br><br><br>
<div class="w3-row w3-container">
    <div class="w3-left w3-padding-32">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Find you future home</span>
    </div>
    <div class="w3-right w3-padding-32" style="text-indent: 50px;">
        <span class="w3-xlarge w3-border-dark-grey w3-padding-16">Looking for the house of your dream? You are in the right place. EcoHabitation gathers the best housing options in the world. Either you are interested in a regular house, a loft or even a villa, EcoHabitation has what you need! You can search the house of your dream directly from home thanks to this website!</span>
    </div>
    <div class="w3-right w3-padding-32">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Business opportunity</span>
      </div>
    <div class="w3-left w3-padding-32" style="text-indent: 50px;">
        <span class="w3-xlarge w3-border-dark-grey w3-padding-16">You are a custom home building company looking for a way to reach more potential customers? Our website gives you the possibility to tell customers around the world what are your specialities and why they would benefit working with you! You simply need to fill a form on our website and everybody looking for a custom home building company will be able to call you! </span>
    </div>
    <div class="w3-left w3-padding-32">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Bring together ecology and economy</span>
      </div>
    <div class="w3-right w3-padding-32" style="text-indent: 50px;">
        <span class="w3-xlarge w3-border-dark-grey w3-padding-16">People needs concerning new houses have drastically change those last few years. Nowadays the ecologic factor has as much importance as the economic one. Therefore, if you can provide another option for people to make the world an healthier place or to spend less money in energy, our website is made for you! By filling a form you can show customers and companies around the world the new discoveries you have to offer!</span>
    </div>
<%- include("footer.ejs"); %>

</body>
</html>